[buildout]
extends                         = versions.cfg
versions                        = versions
parts                           = demo
                                  flake8
                                  evolution
develop                         = .
show-picked-versions            = true
eggs                            = django
                                  django-blog-zinnia
                                  Pillow
                                  markdown

[demo]
recipe                          = djangorecipe
projectegg                      = demo_zinnia_bootstrap
settings                        = settings
eggs                            = ${buildout:eggs}

[flake8]
recipe                          = zc.recipe.egg
eggs                            = flake8

[evolution]
recipe                          = zc.recipe.egg
eggs                            = buildout-versions-checker
scripts                         = check-buildout-updates=evolve
arguments                       = '-w --indent 40'
